In [140]:
import pandas as pd
import numpy as np

arg = pd.read_csv("around_grn.csv")
acc = pd.read_csv("driv_acc.csv")
dist = pd.read_csv("driv_dist.csv")
putt = pd.read_csv("sg_putting.csv")
approach = pd.read_csv("sg_approach.csv")

arg = arg.drop(['web-scraper-order', 'web-scraper-start-url'], axis = 1)
acc = acc.drop(['web-scraper-order', 'web-scraper-start-url'], axis = 1)
dist = dist.drop(['web-scraper-order', 'web-scraper-start-url'], axis = 1)
putt = putt.drop(['web-scraper-order', 'web-scraper-start-url'], axis = 1)
approach = approach.drop(['web-scraper-order', 'web-scraper-start-url'], axis = 1)

In [142]:
dist = dist.apply(lambda x: x/dist['avg_driv_dist'].sum() if x.name == 'avg_driv_dist' else x)
acc = acc.apply(lambda x: x/acc['pct_fairways'].sum()  if x.name == 'pct_fairways' else x)
approach = approach.apply(lambda x: x/approach['TOTAL SG_APP'].sum() if x.name == 'TOTAL SG_APP' else x)
arg = arg.apply(lambda x: x/arg['sg_arg'].sum() if x.name == 'sg_arg' else x)
putt = putt.apply(lambda x: x/putt['sg_putting'].sum() if x.name == 'sg_putting' else x)

In [143]:
w_dist = 0.625
w_acc = 0.25
w_app = 0.97
w_arg = 0.77
w_putt = 0.6

dist = dist.apply(lambda x: w_dist*x if x.name == 'avg_driv_dist' else x)
acc = acc.apply(lambda x: w_acc*x if x.name == 'pct_fairways' else x)
approach = approach.apply(lambda x: w_app*x if x.name == 'TOTAL SG_APP' else x)
arg = arg.apply(lambda x: w_arg*x if x.name == 'sg_arg' else x)
putt = putt.apply(lambda x: w_putt*x if x.name == 'sg_putting' else x)

In [144]:

merged = pd.merge(arg, acc)
merged = pd.merge(merged, dist)
merged = pd.merge(merged, putt)
merged = pd.merge(merged, approach)
merged.head()

,PLAYER NAME,sg_arg,pct_fairways,avg_driv_dist,sg_putting,TOTAL SG_APP
0,Gary Woodland,0.019625,0.001033,0.003136,0.045555,0.059346
1,Cameron Champ,-0.037740,0.001018,0.003229,-0.023223,-0.035323
2,Camilo Villegas,0.041394,0.001201,0.002927,-0.071412,-0.002234
3,Scott Piercy,0.030162,0.001063,0.002961,-0.009849,-0.030084
4,Carlos Ortiz,-0.127194,0.001147,0.003053,-0.009900,0.030628

In [145]:
merged['SUM'] = merged['sg_arg'] + merged['pct_fairways'] + merged['avg_driv_dist'] + merged['sg_putting'] + merged['TOTAL SG_APP']
merged.head()

,PLAYER NAME,sg_arg,pct_fairways,avg_driv_dist,sg_putting,TOTAL SG_APP,SUM
0,Gary Woodland,0.019625,0.001033,0.003136,0.045555,0.059346,0.128694
1,Cameron Champ,-0.037740,0.001018,0.003229,-0.023223,-0.035323,-0.092038
2,Camilo Villegas,0.041394,0.001201,0.002927,-0.071412,-0.002234,-0.028124
3,Scott Piercy,0.030162,0.001063,0.002961,-0.009849,-0.030084,-0.005747
4,Carlos Ortiz,-0.127194,0.001147,0.003053,-0.009900,0.030628,-0.102267

In [149]:
merged = merged.sort_values(by=['SUM'], ascending=False)

In [150]:
merged = merged.apply(lambda x: x/merged['SUM'].sum() if x.name == 'SUM' else x)
merged

#  Final output of 'SUM' category gives the percent chance the golfer has to win the tournament.

,PLAYER NAME,sg_arg,pct_fairways,avg_driv_dist,sg_putting,TOTAL SG_APP,SUM
186,Talor Gooch,0.167332,0.001221,0.003039,0.017013,0.099229,0.089529
99,Russell Henley,0.095291,0.001329,0.002985,0.030643,0.149305,0.086952
5,Cameron Smith,0.074044,0.001109,0.002979,0.111703,0.073859,0.082020
167,Scottie Scheffler,0.078289,0.001154,0.003098,0.085237,0.061449,0.071299
48,Sungjae Im,0.150181,0.001281,0.003032,0.057808,0.015082,0.070726
...,...,...,...,...,...,...,...
7,Branden Grace,0.024938,0.001223,0.002913,-0.089725,-0.072949,-0.041555
135,Seth Reeves,-0.109632,0.001223,0.003050,-0.004901,-0.032552,-0.044420
172,Hudson Swafford,-0.194355,0.001235,0.003088,-0.024122,0.061193,-0.047577
117,Joseph Bramlett,-0.093751,0.001055,0.003182,-0.147017,0.042727,-0.060281
44,Kyle Stanley,-0.087070,0.001351,0.002917,-0.130971,0.005177,-0.064882